{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
{% endblock %}
{% block title %}
{% endblock %}
{% block content %}
<!--   Update Movies section-->
<div class="update_movies">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Update Movie</h1>
        <div class="update_page">
            {{ form.as_p }}
        </div>
        <button class="update_btn" type="submit">Update Movies</button>
    </form>
<!--            <a href="{% url 'movieshallapp:index' %}">&nbsp;Save&nbsp;Changes</a>-->
</div>
{% endblock %}
